<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="icon" href="https://www.cphportal.com/Images/ico/checkmark2_128.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bad Feelings</title>
</head>
<body style="background:#ddd;">
    <div class="container">
        <div class="row text-center">
            <h1>EI, COMO VOCÊ CHEGOU AQUI?</h1>
        </div>
            <p style="text-align:center;padding-top:50px;padding-bottom:50px;"> Bom isso é meio constrangedor, ainda estamos trabalhando nas coisas por aqui. <br>
                Se você encontrou um bug ou deseja sugerir melhorias contate nossos desenvolvedores.
            </p>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="https://github.com/felipegsantos15/" target="_blank">
                    <button class="btn btn-success btn-lg btn-block">Just do it</button> 
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>
        </div>
    </div>

</body>
</html>